<ion-view style="" id="page7" title="Activity">
    <ion-content class="has-header" padding="true">

      <div class="list">
          <a class="item item-avatar" href="#">
            <img src="img/IMG-20160215-WA0000.jpg" >
            <h2>Sommayya Adepu</h2>
            <p>Started following you</p>
          </a>
          <a class="item item-avatar" href="#">
            <img src="img/nag.jpg" >
            <h2>Shiva</h2>
            <p>Liked your post
              <span class="item-time">
               15 min ago
              </span>
            </p>

          </a>
          <a class="item item-avatar" href="#">
            <img src="img/IMG-20160215-WA0000.jpg" >
            <h2>Sommayya Adepu</h2>
            <p>Started following you</p>
          </a>
          <a class="item item-avatar" href="#">
            <img src="img/IMG-20160215-WA0000.jpg" >
            <h2>Sommayya Adepu</h2>
            <p>Started following you</p>
          </a>
      </div>

    </ion-content>
</ion-view>
