<ion-view title="Change Password">
    <ion-content>
        <form style="" class="list">
            <ion-list style="">
                <label style="" class="item item-input">
                    <span class="input-label">Current password</span>
                    <input placeholder="" type="text">
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">New password</span>
                    <input placeholder="" type="password">
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">New password again</span>
                    <input placeholder="" type="password">
                </label>
            </ion-list>
            <div style="height: 40px;" class="spacer"></div>
            <button class="button button-stable  button-block" id="changePassword-button12">Update</button>
        </form>
    </ion-content>
</ion-view>
