<ion-view title="Edit Profile">
    <ion-content >
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label">Name</span>
                <input placeholder="" type="text">
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Username</span>
                <input placeholder="" type="text">
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Website</span>
                <input placeholder="" type="text">
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Bio</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <div style="width: 283.2px; height: 11px;" class="spacer"></div>
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label">Email</span>
                <input placeholder="" type="email">
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Mobile</span>
                <input placeholder="" type="tel">
            </label>
            <label style="" class="item item-select">
                <span class="input-label">Gender</span>
                <select>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </label>
        </form>
    </ion-content>
</ion-view>
