<ion-view style="" id="page2" >
   <ion-nav-bar class="bar-positive i-bar-positive">
  <ion-nav-title >
     <img src="img/igram.png" class="i-logo">

     <a href="#/posts"  class="button button-icon ion-upload icon-right i-logo i-fright">
     </a>
     <a href="#/tabs/activity" class="button button-icon ion-android-notifications icon-right i-logo i-fright"></a>
   </ion-nav-title>
   </ion-nav-bar>
    <ion-content class="has-header" padding="true">
      <div class="instagram_feed_item">
          <div class="user_info">
            <a href="#/profile/nagaraju" class=" item item-avatar">
              <img src="img/nag.jpg" alt="" />
              <h2>Nagaraju</h2>
              <!--<a href="#" class="button icon-right ion-android-more-vertical button-clear button-dark"></a>-->
            </a>
          </div> <!--ENd User Info-->
          <div>
              <img style="display: block; margin-left: auto; margin-right: auto;" src="img/dnGRvqEeRPm705bxOWXU_MyPIC.jpg" height="200" width="100%">
          </div>
          <div class="feed_description">
              <button type="button" name="button" class="button icon ion-ios-heart-outline button-icon"></button>
              <button type="button" name="button" class="button icon ion-ios-chatbubble-outline button-icon"></button>
              <button type="button" name="button" class="button icon ion-ios-redo-outline button-icon"></button>
              <hr>
              <a href="#/profile/nagaraju" class="profile_linka">nagaraju_adepu</a> with friends in mahabaleshwaram.. Enjoying
          </div>
        </div> <!--End Instagram Feed Item-->

        <div class="instagram_feed_item">
            <div class="user_info">
              <a href="#/profile/nagaraju" class=" item item-avatar">
                <img src="img/nag.jpg" alt="" />
                <h2>Nagaraju</h2>

                <!--<a href="#" class="button icon-right ion-android-more-vertical button-clear button-dark"></a>-->
              </a>
            </div> <!--ENd User Info-->
            <div>
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/TAJ.jpg" height="350" width="100%">
            </div>
            <div class="feed_description">
                <button type="button" name="button" class="button icon ion-ios-heart-outline button-icon"></button>
                <button type="button" name="button" class="button icon ion-ios-chatbubble-outline button-icon"></button>
                <button type="button" name="button" class="button icon ion-ios-redo-outline button-icon"></button>
                <hr>
                <a href="#/profile/nagaraju" class="profile_linka">nagaraju_adepu</a> with friends in mahabaleshwaram.. Enjoying
            </div>
          </div> <!--End Instagram Feed Item-->

          <div class="instagram_feed_item">
              <div class="user_info">
                <a href="#/profile/nagaraju" class=" item item-avatar">
                  <img src="img/nag.jpg" alt="" />
                  <h2>Nagaraju</h2>
                  <!--<a href="#" class="button icon-right ion-android-more-vertical button-clear button-dark"></a>-->
                </a>
              </div> <!--ENd User Info-->
              <div>
                  <img style="display: block; margin-left: auto; margin-right: auto;" src="img/IMG-20160215-WA0000.jpg" height="200" width="100%">
              </div>
              <div class="feed_description">
                  <button type="button" name="button" class="button icon ion-ios-heart-outline button-icon"></button>
                  <button type="button" name="button" class="button icon ion-ios-chatbubble-outline button-icon"></button>
                  <button type="button" name="button" class="button icon ion-ios-redo-outline button-icon"></button>
                  <hr>
                  <a href="#/profile/nagaraju" class="profile_linka">nagaraju_adepu</a> with friends in mahabaleshwaram.. Enjoying
              </div>
            </div> <!--End Instagram Feed Item-->
    </ion-content>
</ion-view>
