<ion-view style="" id="page3" title="Search" hide-nav-bar="true">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <form style="" class="list">
            <label style="" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="Search" type="search">
            </label>
        </form>

        <div class="row">
            <a href="#" class="user_posts_item_thumbnail">
              <img src="img/IMG-20160215-WA0000.jpg" alt="" />
            </a>
            <a href="#" class="user_posts_item_thumbnail">
              <img src="img/dnGRvqEeRPm705bxOWXU_MyPIC.jpg"  alt="" />
            </a>
            <a href="#" class="user_posts_item_thumbnail">
              <img src="img/wjMFMI0LSaS0MeSOLKcY_snap.jpg"  alt="" />
            </a>
        </div>

        <div class="row">
            <a href="#" class="user_posts_item_thumbnail">
              <img src="img/IMG-20160215-WA0000.jpg" alt="" />
            </a>
            <a href="#" class="user_posts_item_thumbnail">
              <img src="img/dnGRvqEeRPm705bxOWXU_MyPIC.jpg"  alt="" />
            </a>
            <a href="#" class="user_posts_item_thumbnail">
              <img src="img/wjMFMI0LSaS0MeSOLKcY_snap.jpg"  alt="" />
            </a>
            </div>

          <div class="row">
            <a href="#" class="user_posts_item_thumbnail">
              <img src="img/IMG-20160215-WA0000.jpg" alt="" />
            </a>
            <a href="#" class="user_posts_item_thumbnail">
              <img src="img/dnGRvqEeRPm705bxOWXU_MyPIC.jpg"  alt="" />
            </a>
            <a href="#" class="user_posts_item_thumbnail">
              <img src="img/wjMFMI0LSaS0MeSOLKcY_snap.jpg"  alt="" />
            </a>
          </div>

          <div class="row">
            <a href="#" class="user_posts_item_thumbnail">
              <img src="img/IMG-20160215-WA0000.jpg" alt="" />
            </a>
            <a href="#" class="user_posts_item_thumbnail">
              <img src="img/dnGRvqEeRPm705bxOWXU_MyPIC.jpg"  alt="" />
            </a>
            <a href="#" class="user_posts_item_thumbnail">
              <img src="img/wjMFMI0LSaS0MeSOLKcY_snap.jpg"  alt="" />
            </a>
        </div>

    </ion-content>
</ion-view>
