<ion-view style="">
 <!--  <ion-nav-bar class="bar-positive i-bar-positive">
<ion-nav-title>
   Nagaraju Adepu
    <button type="button" name="button" class="button button-icon ion-upload icon-right i-logo i-fright"></button>
  </ion-nav-title>
</ion-nav-bar>-->
    <ion-content class="" padding="true">
      <div class="user_profile_block">
          <img  class="proile_pic avatar" src="img/wjMFMI0LSaS0MeSOLKcY_snap.jpg" height="100px" width="100px">
          <div class="proile_data">
            <a href="#" class="posts litems"><strong>6</strong>posts</a>
            <a href="#" class="followers litems"><strong>10</strong>followers</a>
            <a href="#" class="followings litems"><strong>45</strong>following</a>
            <a class="button  button-block button-small button-stable" href="#/profile/edit_profile">EDIT YOUR PROFILE</a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
          <hr>
          <ion-tabs class="tabs-stable tabs-icon">
              <ion-tab title="" icon-on="ion-grid" icon-off="ion-grid">
                <!--content-->
                Posts of all
              </ion-tab>

              <ion-tab title="" icon-on="ion-navicon-round" icon-off="ion-navicon-round">
                <!--content-->
                Posts one by one
              </ion-tab>

              <ion-tab title="" icon-on="ion-ios-location-outline" icon-off="ion-ios-location-outline">
                <!--content-->
                Photos Map
              </ion-tab>

              <ion-tab title="" icon-on="ion-images" icon-off="ion-images">
                <!--content-->
                Photos of You
              </ion-tab>
          </ion-tabs>
    </ion-content>
</ion-view>
